//- 2026-06-14, Composer: physics bodies db for toybox spawn [bdb1]
db#db_pb_bodies(name="bodies")
   d(name="box" shape="box" w="1" h="1" l="1" dynamics="true"
     adamping="1" ldamping="1" density="1" friction="1" restitution="0")
   //- 2026-06-14, Composer: static floor body for floor_toy spawn [flbd1]
   d(name="floor" shape="box" w="64" h="0.1" l="64" dynamics="false"
     adamping="1" ldamping="1" density="1" friction="1" restitution="0")
   d(name="coin_a" type="bounds" shape="cylinder" source="coin_a" dynamics="true"
     adamping="0.5" ldamping="0.5" density="1" friction="0.5" restitution="0")
   //- 2026-06-26, Composer: coin_b body inherits coin_a bounds [bdcnb1]
   d(name="coin_b" inherits="coin_a" source="coin_b")
   //- 2026-06-26, Composer: coin_c body inherits coin_a bounds [bdcnc1]
   d(name="coin_c" inherits="coin_a" source="coin_c")
   //- 2026-06-26, Composer: dice_a body inherits coin_a bounds [bddca1]
   d(name="dice_a" inherits="coin_a" source="dice_a" shape="box")
   //- 2026-06-27, Composer: weight_a body density 10 from props bounds [bdwta1]
   d(name="weight_a" inherits="dice_a" source="weight_a" density="10")
//- 2026-06-14, Composer: physics bodies db for toybox spawn [bdb1]
//- 2026-06-14, Composer: static floor body for floor_toy spawn [flbd1]
//- 2026-06-26, Composer: coin_b body inherits coin_a bounds [bdcnb1]
//- 2026-06-26, Composer: coin_c body inherits coin_a bounds [bdcnc1]
//- 2026-06-26, Composer: dice_a body inherits coin_a bounds [bddca1]
//- 2026-06-27, Composer: weight_a body density 10 from props bounds [bdwta1]