//- 2026-06-14, Composer: physics bodies db for toybox spawn [bdb1]
db#db_pb_bodies(name="bodies")
   d(name="box" shape="box" w="1" h="1" l="1" dynamics="true"
     adamping="1" ldamping="1" density="1" friction="1" restitution="0")
   //- 2026-06-14, Composer: static floor body for floor_toy spawn [flbd1]
   d(name="floor" shape="box" w="64" h="0.1" l="64" dynamics="false"
     adamping="1" ldamping="1" density="1" friction="1" restitution="0")
//- 2026-06-14, Composer: physics bodies db for toybox spawn [bdb1]
//- 2026-06-14, Composer: static floor body for floor_toy spawn [flbd1]
