//- 2026-06-17, Composer: coinmania and gameicons sprite registry from booling [sprpt1]
db#db_pb_sprites(name="sprites")
   d(name="dbox-sprite"     id="1" source="coinmania" index="1") 
   d(name="circletag"       id="2"  source="coinmania" index="34" billboard="true" size="0.6")
   d(name="timertag"        id="3"  source="coinmania" index="35" billboard="false" size="0.8")
   d(name="aimtag"          id="4"  source="coinmania" index="33" billboard="true" size="1.0")
   d(name="pingtag"         id="0" source="coinmania"   index="27"  billboard="true" size="0.5")
   //- 2026-05-25, Composer: hive-clustertag green fleet roster sprite [hctsp1]
   d(name="clustertag"      id="13" source="coinmania"   index="28"  billboard="true" size="0.5")
   //- 2026-05-25, Composer: hive-commandtag lime C2 command sprite [hcmsp1]
   d(name="commandtag"      id="14" source="coinmania"   index="29"  billboard="true" size="0.5")
   //- 2026-05-26, Composer: hive-statetag amber unit STATE ack sprite [hstsp1]
   d(name="statetag"        id="15" source="coinmania"   index="36"  billboard="true" size="0.5")
   //- 2026-05-26, Composer: hive-clusterstatustag cyan roster sync sprite [hcsstsp1]
   d(name="clusterstatustag" id="16" source="coinmania" index="40"  billboard="true" size="0.5")
   //- 2026-05-26, Composer: hive-mindsynctag violet mind sync sprite [hmsynsp1]
   d(name="mindsynctag"     id="17" source="coinmania"   index="46"  billboard="true" size="0.5")
   //- 2026-05-28, Composer: hive-deathtag red unit-loss sprite [hdttsp1]
   d(name="deathtag"        id="18" source="coinmania"   index="47"  billboard="true" size="0.5")
   d(name="loading"         id="5"  source="coinmania" index="186" size="1.0")
   d(name="plus"            id="6"  source="gameicons" index="68"  size="1.0")
   d(name="minus"           id="7"  source="gameicons" index="58"  size="1.0")
   d(name="block"           id="8"  source="gameicons" index="88"  size="1.0")
   //- 2026-04-25, Codex 5.3: add check sprite from gameicons [c4f8]
   d(name="check"           id="12" source="gameicons" index="23"  size="1.0")
   d(name="cross"           id="9"  source="gameicons" index="25"  size="1.0")
   d(name="play"            id="10" source="gameicons" index="74"  size="1.0")
   d(name="rdice"           id="11" source="coinmania" index="55"  size="1.0")
   //- 2026-05-21, Composer: none-sprite zero-scale invisible meshless proxy [nmsp1]
   d(name="none-sprite"    id="600" source="coinmania" index="34" billboard="false" size="0")
   //- 2026-04-29, Codex 5.3: add recognizable coinmania aliases with cm_ prefix [cm61]
   d(name="cm_die_d8"             id="300" source="coinmania" index="0"   size="1.0")
   d(name="cm_die_d2"             id="301" source="coinmania" index="2"   size="1.0")
   d(name="cm_die_d10"            id="302" source="coinmania" index="21"  size="1.0")
   d(name="cm_die_d3"             id="303" source="coinmania" index="23"  size="1.0")
   d(name="cm_die_d12"            id="304" source="coinmania" index="42"  size="1.0")
   d(name="cm_die_d4"             id="305" source="coinmania" index="44"  size="1.0")
   d(name="cm_die_d20"            id="306" source="coinmania" index="63"  size="1.0")
   d(name="cm_die_d6"             id="307" source="coinmania" index="65"  size="1.0")
   d(name="cm_spade"              id="308" source="coinmania" index="25"  size="1.0")
   d(name="cm_club"               id="309" source="coinmania" index="26"  size="1.0")
   d(name="cm_diamond"            id="310" source="coinmania" index="27"  size="1.0")
   d(name="cm_heart"              id="311" source="coinmania" index="28"  size="1.0")
   d(name="cm_heart_broken"       id="312" source="coinmania" index="29"  size="1.0")
   d(name="cm_bow"                id="313" source="coinmania" index="30"  size="1.0")
   d(name="cm_sword"              id="314" source="coinmania" index="31"  size="1.0")
   d(name="cm_shield"             id="315" source="coinmania" index="32"  size="1.0")
   d(name="cm_skull"              id="316" source="coinmania" index="33"  size="1.0")
   d(name="cm_circle_ring"        id="317" source="coinmania" index="34"  size="1.0")
   d(name="cm_timer_ring"         id="318" source="coinmania" index="35"  size="1.0")
   d(name="cm_lock"               id="319" source="coinmania" index="74"  size="1.0")
   d(name="cm_arrow_down"         id="320" source="coinmania" index="110" size="1.0")
   d(name="cm_arrow_up"           id="321" source="coinmania" index="111" size="1.0")
   d(name="cm_arrow_right"        id="322" source="coinmania" index="112" size="1.0")
   d(name="cm_arrow_left"         id="323" source="coinmania" index="113" size="1.0")
   d(name="cm_refresh"            id="324" source="coinmania" index="130" size="1.0")
   d(name="cm_reply_left"         id="325" source="coinmania" index="158" size="1.0")
   d(name="cm_reply_right"        id="326" source="coinmania" index="159" size="1.0")
   d(name="cm_next"               id="327" source="coinmania" index="160" size="1.0")
   d(name="cm_previous"           id="328" source="coinmania" index="161" size="1.0")
   d(name="cm_rotate_ccw"         id="329" source="coinmania" index="162" size="1.0")
   d(name="cm_rotate_cw"          id="330" source="coinmania" index="163" size="1.0")
   d(name="cm_hourglass"          id="331" source="coinmania" index="173" size="1.0")
   d(name="cm_fire"               id="332" source="coinmania" index="177" size="1.0")
   d(name="cm_leaf"               id="333" source="coinmania" index="180" size="1.0")
   d(name="cm_apple"              id="334" source="coinmania" index="181" size="1.0")
   d(name="cm_infinity"           id="335" source="coinmania" index="207" size="1.0")
   d(name="cm_dot"                id="336" source="coinmania" index="218" size="1.0")
   d(name="cm_check"              id="337" source="coinmania" index="219" size="1.0")
   d(name="cm_cross"              id="338" source="coinmania" index="220" size="1.0")
   d(name="cm_dice_2"             id="339" source="coinmania" index="222" size="1.0")
   d(name="cm_dice_4"             id="340" source="coinmania" index="223" size="1.0")
   d(name="cm_dice_5"             id="341" source="coinmania" index="224" size="1.0")
   d(name="cm_shield_small"       id="342" source="coinmania" index="231" size="1.0")
   //- 2026-04-29, Codex 5.3: add extra high-confidence coinmania icon aliases [cm84]
   d(name="cm_triangle"           id="343" source="coinmania" index="45"  size="1.0")
   d(name="cm_chess_king"         id="344" source="coinmania" index="46"  size="1.0")
   d(name="cm_chess_queen"        id="345" source="coinmania" index="47"  size="1.0")
   d(name="cm_chess_bishop"       id="346" source="coinmania" index="48"  size="1.0")
   d(name="cm_chess_knight"       id="347" source="coinmania" index="49"  size="1.0")
   d(name="cm_chess_rook"         id="348" source="coinmania" index="50"  size="1.0")
   d(name="cm_chess_pawn"         id="349" source="coinmania" index="51"  size="1.0")
   //- 2026-06-04, gpt-5.3-codex: restore cm_dollar coinmania tile [currbk1]
   d(name="cm_dollar"             id="350" source="coinmania" index="67"  size="1.0")
   d(name="cm_lock_open"          id="351" source="coinmania" index="75"  size="1.0")
   d(name="cm_book_open"          id="352" source="coinmania" index="209" size="1.0")
   //- 2026-04-29, Codex 5.3: auto-map coinmania tiles from Kenney icon filenames [cm92]
   d(name="cm_d2" id="354" source="coinmania" index="3" size="1.0")
   d(name="cm_flask_empty" id="355" source="coinmania" index="4" size="1.0")
   d(name="cm_flask_half" id="356" source="coinmania" index="5" size="1.0")
   d(name="cm_flask_full" id="357" source="coinmania" index="6" size="1.0")
   d(name="cm_pouch_remove" id="358" source="coinmania" index="7" size="1.0")
   d(name="cm_structure_watchtower" id="361" source="coinmania" index="10" size="1.0")
   d(name="cm_structure_tower" id="362" source="coinmania" index="11" size="1.0")
   d(name="cm_structure_gate" id="363" source="coinmania" index="12" size="1.0")
   d(name="cm_structure_wall" id="364" source="coinmania" index="13" size="1.0")
   d(name="cm_structure_church" id="365" source="coinmania" index="14" size="1.0")
   d(name="cm_structure_farm" id="366" source="coinmania" index="15" size="1.0")
   d(name="cm_structure_house" id="367" source="coinmania" index="16" size="1.0")
   d(name="cm_character_lift" id="368" source="coinmania" index="17" size="1.0")
   d(name="cm_character_place" id="369" source="coinmania" index="18" size="1.0")
   d(name="cm_character_remove" id="370" source="coinmania" index="19" size="1.0")
   d(name="cm_character" id="371" source="coinmania" index="20" size="1.0")
   d(name="cm_d10" id="372" source="coinmania" index="22" size="1.0")
   d(name="cm_d3" id="373" source="coinmania" index="24" size="1.0")
   d(name="cm_d12" id="380" source="coinmania" index="43" size="1.0")
   d(name="cm_dice_close" id="382" source="coinmania" index="53" size="1.0")
   d(name="cm_dice_3d" id="383" source="coinmania" index="54" size="1.0")
   d(name="cm_dice_3d_detailed" id="384" source="coinmania" index="55" size="1.0")
   d(name="cm_d3_i66" id="393" source="coinmania" index="66" size="1.0")
   d(name="cm_direction_w" id="394" source="coinmania" index="68" size="1.0")
   d(name="cm_direction_s" id="395" source="coinmania" index="69" size="1.0")
   d(name="cm_direction_e" id="396" source="coinmania" index="70" size="1.0")
   d(name="cm_direction_n" id="397" source="coinmania" index="71" size="1.0")
   d(name="cm_exploding_6" id="400" source="coinmania" index="76" size="1.0")
   d(name="cm_exploding" id="401" source="coinmania" index="77" size="1.0")
   d(name="cm_d8_outline_number" id="408" source="coinmania" index="84" size="1.0")
   d(name="cm_d20_outline" id="409" source="coinmania" index="85" size="1.0")
   d(name="cm_tokens_shadow" id="413" source="coinmania" index="89" size="1.0")
   d(name="cm_tokens" id="414" source="coinmania" index="90" size="1.0")
   d(name="cm_token" id="415" source="coinmania" index="91" size="1.0")
   d(name="cm_hexagon_switch" id="416" source="coinmania" index="92" size="1.0")
   d(name="cm_hexagon_out" id="417" source="coinmania" index="93" size="1.0")
   d(name="cm_hexagon_tile" id="419" source="coinmania" index="95" size="1.0")
   d(name="cm_hexagon_question" id="420" source="coinmania" index="96" size="1.0")
   d(name="cm_hexagon" id="421" source="coinmania" index="97" size="1.0")
   d(name="cm_hexagon_outline" id="422" source="coinmania" index="98" size="1.0")
   d(name="cm_pentagon_question" id="423" source="coinmania" index="99" size="1.0")
   d(name="cm_pentagon" id="424" source="coinmania" index="100" size="1.0")
   d(name="cm_pentagon_outline" id="425" source="coinmania" index="101" size="1.0")
   d(name="cm_rhombus_question" id="426" source="coinmania" index="102" size="1.0")
   d(name="cm_rhombus" id="427" source="coinmania" index="103" size="1.0")
   d(name="cm_rhombus_outline" id="428" source="coinmania" index="104" size="1.0")
   d(name="cm_d10_outline_number" id="429" source="coinmania" index="105" size="1.0")
   d(name="cm_d10_outline" id="430" source="coinmania" index="106" size="1.0")
   d(name="cm_d3_outline_number" id="431" source="coinmania" index="107" size="1.0")
   d(name="cm_d3_outline" id="432" source="coinmania" index="108" size="1.0")
   d(name="cm_cards_shift" id="434" source="coinmania" index="114" size="1.0")
   d(name="cm_card_place" id="435" source="coinmania" index="115" size="1.0")
   d(name="cm_card_lift" id="436" source="coinmania" index="116" size="1.0")
   d(name="cm_card_outline_place" id="437" source="coinmania" index="117" size="1.0")
   d(name="cm_card_outline_lift" id="438" source="coinmania" index="118" size="1.0")
   d(name="cm_cards_take" id="440" source="coinmania" index="120" size="1.0")
   d(name="cm_cards_stack_high" id="441" source="coinmania" index="121" size="1.0")
   d(name="cm_cards_stack_cross" id="442" source="coinmania" index="122" size="1.0")
   d(name="cm_cards_stack" id="443" source="coinmania" index="123" size="1.0")
   d(name="cm_card_down" id="444" source="coinmania" index="124" size="1.0")
   d(name="cm_card_down_outline" id="445" source="coinmania" index="125" size="1.0")
   d(name="cm_d12_outline_number" id="446" source="coinmania" index="126" size="1.0")
   d(name="cm_d4_outline_number" id="448" source="coinmania" index="128" size="1.0")
   d(name="cm_d4_outline" id="449" source="coinmania" index="129" size="1.0")
   d(name="cm_card_tap_up" id="460" source="coinmania" index="141" size="1.0")
   d(name="cm_card_tap_down" id="461" source="coinmania" index="142" size="1.0")
   d(name="cm_card_tap" id="462" source="coinmania" index="143" size="1.0")
   d(name="cm_card" id="465" source="coinmania" index="146" size="1.0")
   d(name="cm_d20_outline_number" id="466" source="coinmania" index="147" size="1.0")
   d(name="cm_d20_outline_i148" id="467" source="coinmania" index="148" size="1.0")
   d(name="cm_d6_outline_number" id="468" source="coinmania" index="149" size="1.0")
   d(name="cm_d3_outline_i150" id="469" source="coinmania" index="150" size="1.0")
   d(name="cm_card_target" id="471" source="coinmania" index="152" size="1.0")
   d(name="cm_card_tap_outline_up" id="472" source="coinmania" index="153" size="1.0")
   d(name="cm_card_tap_outline_down" id="473" source="coinmania" index="154" size="1.0")
   d(name="cm_card_tap_outline" id="474" source="coinmania" index="155" size="1.0")
   d(name="cm_pawn_right" id="476" source="coinmania" index="157" size="1.0")
   d(name="cm_hourglass_bottom" id="481" source="coinmania" index="168" size="1.0")
   d(name="cm_notepad" id="485" source="coinmania" index="172" size="1.0")
   d(name="cm_arrow_diagonal_cross" id="486" source="coinmania" index="174" size="1.0")
   d(name="cm_arrow_cross" id="487" source="coinmania" index="175" size="1.0")
   d(name="cm_arrow_diagonal_cross_divided" id="488" source="coinmania" index="176" size="1.0")
   d(name="cm_arrow_diagonal" id="489" source="coinmania" index="178" size="1.0")
   d(name="cm_arrow_right_curve" id="490" source="coinmania" index="179" size="1.0")
   d(name="cm_arrow_horizontal" id="491" source="coinmania" index="182" size="1.0")
   d(name="cm_arrow_clockwise" id="492" source="coinmania" index="183" size="1.0")
   d(name="cm_arrow_counterclockwise" id="493" source="coinmania" index="184" size="1.0")
   d(name="cm_hourglass_top" id="495" source="coinmania" index="186" size="1.0")
   d(name="cm_book_closed" id="496" source="coinmania" index="187" size="1.0")
   d(name="cm_crown_b" id="498" source="coinmania" index="189" size="1.0")
   d(name="cm_crown_a" id="499" source="coinmania" index="190" size="1.0")
   d(name="cm_token_add" id="501" source="coinmania" index="192" size="1.0")
   d(name="cm_token_subtract" id="502" source="coinmania" index="193" size="1.0")
   d(name="cm_token_out" id="503" source="coinmania" index="194" size="1.0")
   d(name="cm_hand" id="506" source="coinmania" index="197" size="1.0")
   d(name="cm_hand_cross" id="507" source="coinmania" index="198" size="1.0")
   d(name="cm_hand_cube" id="510" source="coinmania" index="201" size="1.0")
   d(name="cm_hand_hexagon" id="511" source="coinmania" index="202" size="1.0")
   d(name="cm_hand_card" id="512" source="coinmania" index="203" size="1.0")
   d(name="cm_resource_wheat" id="516" source="coinmania" index="208" size="1.0")
   d(name="cm_resource_planks" id="517" source="coinmania" index="210" size="1.0")
   d(name="cm_resource_iron" id="518" source="coinmania" index="211" size="1.0")
   d(name="cm_resource_wood" id="519" source="coinmania" index="212" size="1.0")
   d(name="cm_tag_d6_4" id="525" source="coinmania" index="221" size="1.0")
   d(name="cm_tag_d6" id="526" source="coinmania" index="225" size="1.0")
   d(name="cm_tag_infinite" id="527" source="coinmania" index="226" size="1.0")
   d(name="cm_tag_10" id="528" source="coinmania" index="227" size="1.0")
   d(name="cm_tag_9" id="529" source="coinmania" index="228" size="1.0")
   d(name="cm_tag_8" id="530" source="coinmania" index="229" size="1.0")
   d(name="cm_tag_7" id="531" source="coinmania" index="230" size="1.0")
   d(name="cm_tag_5" id="532" source="coinmania" index="232" size="1.0")
   d(name="cm_tag_4" id="533" source="coinmania" index="233" size="1.0")
   d(name="cm_tag_3" id="534" source="coinmania" index="234" size="1.0")
   d(name="cm_tag_1" id="536" source="coinmania" index="236" size="1.0")
   d(name="cm_tag_empty" id="537" source="coinmania" index="237" size="1.0")
   d(name="cm_tag_d6_5" id="542" source="coinmania" index="242" size="1.0")
   d(name="cm_tag_shield_infinite" id="543" source="coinmania" index="243" size="1.0")
   d(name="cm_tag_shield_10" id="544" source="coinmania" index="244" size="1.0")
   d(name="cm_tag_shield_9" id="545" source="coinmania" index="245" size="1.0")
   d(name="cm_tag_shield_8" id="546" source="coinmania" index="246" size="1.0")
   d(name="cm_tag_shield_7" id="547" source="coinmania" index="247" size="1.0")
   d(name="cm_tag_shield_6" id="548" source="coinmania" index="248" size="1.0")
   d(name="cm_tag_shield_5" id="549" source="coinmania" index="249" size="1.0")
   d(name="cm_tag_shield_4" id="550" source="coinmania" index="250" size="1.0")
   d(name="cm_tag_shield_3" id="551" source="coinmania" index="251" size="1.0")
   d(name="cm_tag_shield_2" id="552" source="coinmania" index="252" size="1.0")
   d(name="cm_tag_shield_1" id="553" source="coinmania" index="253" size="1.0")
   d(name="cm_tag_shield" id="554" source="coinmania" index="254" size="1.0")
   //- 2026-04-29, Codex 5.3: low-confidence coinmania matches resolved via nearest Kenney filename [cm93]
   d(name="cm_d20" id="353" source="coinmania" index="1" size="1.0")
   d(name="cm_pouch_add" id="359" source="coinmania" index="8" size="1.0")
   d(name="cm_pouch" id="360" source="coinmania" index="9" size="1.0")
   d(name="cm_timer_ccw_50" id="374" source="coinmania" index="36" size="1.0")
   d(name="cm_timer_ccw_75" id="375" source="coinmania" index="37" size="1.0")
   d(name="cm_timer_cw_25" id="376" source="coinmania" index="38" size="1.0")
   d(name="cm_timer_cw_50" id="377" source="coinmania" index="39" size="1.0")
   d(name="cm_timer_cw_75" id="378" source="coinmania" index="40" size="1.0")
   d(name="cm_timer_100" id="379" source="coinmania" index="41" size="1.0")
   d(name="cm_dice_out" id="381" source="coinmania" index="52" size="1.0")
   d(name="cm_dice" id="385" source="coinmania" index="56" size="1.0")
   d(name="cm_dice_detailed" id="386" source="coinmania" index="57" size="1.0")
   d(name="cm_dice_question" id="387" source="coinmania" index="58" size="1.0")
   d(name="cm_dice_sword" id="388" source="coinmania" index="59" size="1.0")
   d(name="cm_dice_shield" id="389" source="coinmania" index="60" size="1.0")
   d(name="cm_dice_skull" id="390" source="coinmania" index="61" size="1.0")
   d(name="cm_dice_empty" id="391" source="coinmania" index="62" size="1.0")
   d(name="cm_d20_i64" id="392" source="coinmania" index="64" size="1.0")
   d(name="cm_lock_open_i72" id="398" source="coinmania" index="72" size="1.0")
   d(name="cm_lock_closed" id="399" source="coinmania" index="73" size="1.0")
   d(name="cm_dice_6" id="402" source="coinmania" index="78" size="1.0")
   d(name="cm_dice_5_i79" id="403" source="coinmania" index="79" size="1.0")
   d(name="cm_dice_4_i80" id="404" source="coinmania" index="80" size="1.0")
   d(name="cm_dice_3" id="405" source="coinmania" index="81" size="1.0")
   d(name="cm_dice_2_i82" id="406" source="coinmania" index="82" size="1.0")
   d(name="cm_dice_1" id="407" source="coinmania" index="83" size="1.0")
   d(name="cm_d2_outline_number" id="410" source="coinmania" index="86" size="1.0")
   d(name="cm_d2_outline" id="411" source="coinmania" index="87" size="1.0")
   d(name="cm_tokens_stack" id="412" source="coinmania" index="88" size="1.0")
   d(name="cm_hexagon_in" id="418" source="coinmania" index="94" size="1.0")
   d(name="cm_award" id="433" source="coinmania" index="109" size="1.0")
   d(name="cm_cards_return" id="439" source="coinmania" index="119" size="1.0")
   d(name="cm_d12_outline" id="447" source="coinmania" index="127" size="1.0")
   d(name="cm_card_flip" id="450" source="coinmania" index="131" size="1.0")
   d(name="cm_card_rotate" id="451" source="coinmania" index="132" size="1.0")
   d(name="cm_cards_collection" id="452" source="coinmania" index="133" size="1.0")
   d(name="cm_cards_collection_outline" id="453" source="coinmania" index="134" size="1.0")
   d(name="cm_cards_flip" id="454" source="coinmania" index="135" size="1.0")
   d(name="cm_cards_fan" id="455" source="coinmania" index="136" size="1.0")
   d(name="cm_cards_fan_outline" id="456" source="coinmania" index="137" size="1.0")
   d(name="cm_cards_order" id="457" source="coinmania" index="138" size="1.0")
   d(name="cm_cards_diagonal" id="458" source="coinmania" index="139" size="1.0")
   d(name="cm_card_diagonal" id="459" source="coinmania" index="140" size="1.0")
   d(name="cm_card_outline_remove" id="463" source="coinmania" index="144" size="1.0")
   d(name="cm_card_outline" id="464" source="coinmania" index="145" size="1.0")
   d(name="cm_cards_shuffle" id="470" source="coinmania" index="151" size="1.0")
   d(name="cm_pawn_skip" id="475" source="coinmania" index="156" size="1.0")
   d(name="cm_pawns" id="477" source="coinmania" index="164" size="1.0")
   d(name="cm_pawn_down" id="478" source="coinmania" index="165" size="1.0")
   d(name="cm_pawn_up" id="479" source="coinmania" index="166" size="1.0")
   d(name="cm_pawn" id="480" source="coinmania" index="167" size="1.0")
   d(name="cm_card_remove" id="482" source="coinmania" index="169" size="1.0")
   d(name="cm_card_add" id="483" source="coinmania" index="170" size="1.0")
   d(name="cm_card_subtract" id="484" source="coinmania" index="171" size="1.0")
   d(name="cm_arrow_rotate" id="494" source="coinmania" index="185" size="1.0")
   d(name="cm_book_open_i188" id="497" source="coinmania" index="188" size="1.0")
   d(name="cm_token_remove" id="500" source="coinmania" index="191" size="1.0")
   d(name="cm_token_in" id="504" source="coinmania" index="195" size="1.0")
   d(name="cm_token_give" id="505" source="coinmania" index="196" size="1.0")
   d(name="cm_hand_token_open" id="508" source="coinmania" index="199" size="1.0")
   d(name="cm_hand_token" id="509" source="coinmania" index="200" size="1.0")
   d(name="cm_hourglass_i204" id="513" source="coinmania" index="204" size="1.0")
   d(name="cm_puzzle" id="514" source="coinmania" index="205" size="1.0")
   d(name="cm_fire_i206" id="515" source="coinmania" index="206" size="1.0")
   d(name="cm_resource_lumber" id="520" source="coinmania" index="213" size="1.0")
   d(name="cm_flip_head" id="521" source="coinmania" index="214" size="1.0")
   d(name="cm_flip_tails" id="522" source="coinmania" index="215" size="1.0")
   d(name="cm_flip_half" id="523" source="coinmania" index="216" size="1.0")
   d(name="cm_d2_outline_i217" id="524" source="coinmania" index="217" size="1.0")
   d(name="cm_tag_2" id="535" source="coinmania" index="235" size="1.0")
   d(name="cm_tag_d6_check" id="538" source="coinmania" index="238" size="1.0")
   d(name="cm_tag_d6_cross" id="539" source="coinmania" index="239" size="1.0")
   d(name="cm_tag_d6_infinte" id="540" source="coinmania" index="240" size="1.0")
   d(name="cm_tag_d6_6" id="541" source="coinmania" index="241" size="1.0")
   //- 2026-04-29, Codex 5.3: rename gameicon sprite keys to gi prefix [gi92]
   d(name="gi_arrow_down"          id="100" source="gameicons" index="0"   size="1.0")
   d(name="gi_arrow_left"          id="101" source="gameicons" index="1"   size="1.0")
   d(name="gi_arrow_right"         id="102" source="gameicons" index="2"   size="1.0")
   d(name="gi_arrow_up"            id="103" source="gameicons" index="3"   size="1.0")
   d(name="gi_stick_left"          id="104" source="gameicons" index="4"   size="1.0")
   d(name="gi_stick_right"         id="105" source="gameicons" index="5"   size="1.0")
   d(name="gi_menu"                id="106" source="gameicons" index="6"   size="1.0")
   d(name="gi_list"                id="107" source="gameicons" index="7"   size="1.0")
   d(name="gi_button_1"            id="108" source="gameicons" index="8"   size="1.0")
   d(name="gi_button_2"            id="109" source="gameicons" index="9"   size="1.0")
   d(name="gi_button_3"            id="110" source="gameicons" index="10"  size="1.0")
   d(name="gi_button_a"            id="111" source="gameicons" index="11"  size="1.0")
   d(name="gi_button_b"            id="112" source="gameicons" index="12"  size="1.0")
   d(name="gi_button_l1"           id="113" source="gameicons" index="13"  size="1.0")
   d(name="gi_button_l2"           id="114" source="gameicons" index="14"  size="1.0")
   d(name="gi_button_l"            id="115" source="gameicons" index="15"  size="1.0")
   d(name="gi_button_r1"           id="116" source="gameicons" index="16"  size="1.0")
   d(name="gi_button_r2"           id="117" source="gameicons" index="17"  size="1.0")
   d(name="gi_button_r"            id="118" source="gameicons" index="18"  size="1.0")
   d(name="gi_select"              id="119" source="gameicons" index="19"  size="1.0")
   d(name="gi_start"               id="120" source="gameicons" index="20"  size="1.0")
   d(name="gi_button_x"            id="121" source="gameicons" index="21"  size="1.0")
   d(name="gi_button_y"            id="122" source="gameicons" index="22"  size="1.0")
   d(name="gi_check"               id="123" source="gameicons" index="23"  size="1.0")
   d(name="gi_dpad_left"           id="124" source="gameicons" index="24"  size="1.0")
   d(name="gi_cross"               id="125" source="gameicons" index="25"  size="1.0")
   d(name="gi_dpad_right"          id="126" source="gameicons" index="26"  size="1.0")
   d(name="gi_caret_down"          id="127" source="gameicons" index="27"  size="1.0")
   d(name="gi_caret_right"         id="128" source="gameicons" index="28"  size="1.0")
   d(name="gi_exclamation"         id="129" source="gameicons" index="29"  size="1.0")
   d(name="gi_enter"               id="130" source="gameicons" index="30"  size="1.0")
   d(name="gi_exit"                id="131" source="gameicons" index="31"  size="1.0")
   d(name="gi_leave_right"         id="132" source="gameicons" index="32"  size="1.0")
   d(name="gi_upload"              id="133" source="gameicons" index="33"  size="1.0")
   d(name="gi_fast_forward"        id="134" source="gameicons" index="34"  size="1.0")
   d(name="gi_controller_1"        id="135" source="gameicons" index="35"  size="1.0")
   d(name="gi_controller_2"        id="136" source="gameicons" index="36"  size="1.0")
   d(name="gi_controller_3"        id="137" source="gameicons" index="37"  size="1.0")
   d(name="gi_controller_4"        id="138" source="gameicons" index="38"  size="1.0")
   d(name="gi_submarine"           id="139" source="gameicons" index="39"  size="1.0")
   d(name="gi_settings"            id="140" source="gameicons" index="40"  size="1.0")
   d(name="gi_home"                id="141" source="gameicons" index="41"  size="1.0")
   d(name="gi_download"            id="142" source="gameicons" index="42"  size="1.0")
   d(name="gi_info"                id="143" source="gameicons" index="43"  size="1.0")
   d(name="gi_joystick_1"          id="144" source="gameicons" index="44"  size="1.0")
   d(name="gi_joystick_2"          id="145" source="gameicons" index="45"  size="1.0")
   d(name="gi_joystick_3"          id="146" source="gameicons" index="46"  size="1.0")
   d(name="gi_joystick_4"          id="147" source="gameicons" index="47"  size="1.0")
   d(name="gi_expand"              id="148" source="gameicons" index="48"  size="1.0")
   d(name="gi_group_23"            id="149" source="gameicons" index="49"  size="1.0")
   d(name="gi_console"             id="150" source="gameicons" index="50"  size="1.0")
   d(name="gi_triangle_left"       id="151" source="gameicons" index="51"  size="1.0")
   d(name="gi_lock"                id="152" source="gameicons" index="52"  size="1.0")
   d(name="gi_group"               id="153" source="gameicons" index="53"  size="1.0")
   d(name="gi_medal"               id="154" source="gameicons" index="54"  size="1.0")
   d(name="gi_badge"               id="155" source="gameicons" index="55"  size="1.0")
   d(name="gi_grid"                id="156" source="gameicons" index="56"  size="1.0")
   d(name="gi_bulleted_list"       id="157" source="gameicons" index="57"  size="1.0")
   d(name="gi_minus"               id="158" source="gameicons" index="58"  size="1.0")
   d(name="gi_magnet"              id="159" source="gameicons" index="59"  size="1.0")
   d(name="gi_film"                id="160" source="gameicons" index="60"  size="1.0")
   d(name="gi_group_pair"          id="161" source="gameicons" index="61"  size="1.0")
   d(name="gi_mute"                id="162" source="gameicons" index="62"  size="1.0")
   d(name="gi_music"               id="163" source="gameicons" index="63"  size="1.0")
   d(name="gi_play"                id="164" source="gameicons" index="64"  size="1.0")
   d(name="gi_reply_right"         id="165" source="gameicons" index="65"  size="1.0")
   d(name="gi_pause"               id="166" source="gameicons" index="66"  size="1.0")
   d(name="gi_stop"                id="167" source="gameicons" index="67"  size="1.0")
   d(name="gi_plus"                id="168" source="gameicons" index="68"  size="1.0")
   d(name="gi_power"               id="169" source="gameicons" index="69"  size="1.0")
   d(name="gi_skip_previous"       id="170" source="gameicons" index="70"  size="1.0")
   d(name="gi_question"            id="171" source="gameicons" index="71"  size="1.0")
   d(name="gi_undo"                id="172" source="gameicons" index="72"  size="1.0")
   d(name="gi_rewind"              id="173" source="gameicons" index="73"  size="1.0")
   d(name="gi_next"                id="174" source="gameicons" index="74"  size="1.0")
   d(name="gi_save"                id="175" source="gameicons" index="75"  size="1.0")
   d(name="gi_previous"            id="176" source="gameicons" index="76"  size="1.0")
   d(name="gi_sort_vertical"       id="177" source="gameicons" index="77"  size="1.0")
   d(name="gi_share_external"      id="178" source="gameicons" index="78"  size="1.0")
   d(name="gi_share"               id="179" source="gameicons" index="79"  size="1.0")
   d(name="gi_tray"                id="180" source="gameicons" index="80"  size="1.0")
   d(name="gi_cart"                id="181" source="gameicons" index="81"  size="1.0")
   d(name="gi_dot"                 id="182" source="gameicons" index="82"  size="1.0")
   d(name="gi_signal_low"          id="183" source="gameicons" index="83"  size="1.0")
   d(name="gi_signal_medium"       id="184" source="gameicons" index="84"  size="1.0")
   d(name="gi_user"                id="185" source="gameicons" index="85"  size="1.0")
   d(name="gi_expand_corners"      id="186" source="gameicons" index="86"  size="1.0")
   //- 2026-06-04, gpt-5.3-codex: restore gi_star gameicons tile [currbk2]
   d(name="gi_star"                id="187" source="gameicons" index="87"  size="1.0")
   d(name="gi_square"              id="188" source="gameicons" index="88"  size="1.0")
   d(name="gi_square_outline"      id="189" source="gameicons" index="89"  size="1.0")
   d(name="gi_circle"              id="190" source="gameicons" index="90"  size="1.0")
   d(name="gi_gift_open"           id="191" source="gameicons" index="91"  size="1.0")
   d(name="gi_gift"                id="192" source="gameicons" index="92"  size="1.0")
   d(name="gi_monitor"             id="193" source="gameicons" index="93"  size="1.0")
   d(name="gi_unlock"              id="194" source="gameicons" index="94"  size="1.0")
   d(name="gi_cursor"              id="195" source="gameicons" index="95"  size="1.0")
   d(name="gi_caret_up"            id="196" source="gameicons" index="96"  size="1.0")
   d(name="gi_arrow_turn_up_right" id="197" source="gameicons" index="97"  size="1.0")
   d(name="gi_arrow_turn_down_right" id="205" source="gameicons" index="98"  size="1.0")
   d(name="gi_warning"             id="198" source="gameicons" index="99"  size="1.0")
   d(name="gi_wrench"              id="199" source="gameicons" index="100" size="1.0")
   d(name="gi_zoom_equal"          id="200" source="gameicons" index="101" size="1.0")
   d(name="gi_zoom_in"             id="201" source="gameicons" index="102" size="1.0")
   d(name="gi_zoom_out"            id="202" source="gameicons" index="103" size="1.0")
   d(name="gi_search"              id="203" source="gameicons" index="104" size="1.0")
   d(name="gi_search_alt"          id="204" source="gameicons" index="105" size="1.0")
//- 2026-06-17, Composer: coinmania and gameicons sprite registry from booling [sprpt1]
