db#db_pb_toys(name="toys")
   //- 2026-06-14, Composer: mesh-less floor collision toy [flty1]
   d(name="floor_toy"               id="0" body="floor")
   d(name="box_test_toy"            id="1" body="box" mesh="box_timber")
//- 2026-06-14, Composer: mesh-less floor collision toy [flty1]