db#db_pb_items(name="items")
   //- 2026-06-14, Composer: mesh-less floor collision item [flit1]
   d(name="floor_item"               id="0" body="floor")
   d(name="box_test_item"            id="1" body="box" mesh="box_timber")
   d(name="coin_a_item"              id="2" body="coin_a" mesh="coin_a")
   //- 2026-06-26, Composer: coin_b item inherits coin_a_item [itcnb1]
   d(name="coin_b_item"              id="4" inherits="coin_a_item" body="coin_b" mesh="coin_b")
   //- 2026-06-26, Composer: coin_c item inherits coin_a_item [itcnc1]
   d(name="coin_c_item"              id="6" inherits="coin_a_item" body="coin_c" mesh="coin_c")
   //- 2026-06-26, Composer: dice_a item inherits coin_a_item [itdca1]
   d(name="dice_a_item"              id="8" inherits="coin_a_item" body="dice_a" mesh="dice_a")

db#db_pb_toys(name="toys")
   d(name="box_test_toy"            id="1" item="box_test_item"
      modules="[lifespan]" lifespan="10")
   d(name="box_just_toy"            id="2" item="box_test_item")
   //- 2026-06-26, Composer: coin_a_toy contacts module flag [toycnt1]
   d(name="coin_a_toy"              id="3" item="coin_a_item"
      modules="[contacts]")
   //- 2026-06-26, Composer: coin_b toy inherits coin_a_toy [toycnb1]
   d(name="coin_b_toy"              id="4" inherits="coin_a_toy" item="coin_b_item")
   //- 2026-06-26, Composer: coin_c toy inherits coin_a_toy [toycnc1]
   d(name="coin_c_toy"              id="5" inherits="coin_a_toy" item="coin_c_item")
   //- 2026-06-26, Composer: dice_a toy inherits coin_a_toy [toydca1]
   d(name="dice_a_toy"              id="6" inherits="coin_a_toy" item="dice_a_item")
//- 2026-06-14, Composer: mesh-less floor collision item [flit1]
//- 2026-06-26, Composer: coin_b item inherits coin_a_item [itcnb1]
//- 2026-06-26, Composer: coin_b toy inherits coin_a_toy [toycnb1]
//- 2026-06-26, Composer: coin_c item inherits coin_a_item [itcnc1]
//- 2026-06-26, Composer: coin_c toy inherits coin_a_toy [toycnc1]
//- 2026-06-26, Composer: dice_a item inherits coin_a_item [itdca1]
//- 2026-06-26, Composer: dice_a toy inherits coin_a_toy [toydca1]
//- 2026-06-26, Composer: coin_a_toy contacts module flag [toycnt1]
//- 2026-06-27, Composer: sequential db_pb_toys ids 1-6 [toyid1]
