//- 2026-06-14, Composer: MVP ui_tests panel for click trace [uidb1]
//- 2026-06-14, Composer: single button_test with corner 0.3 [uidb5]
db#db_pb_ui_test(name="ui_tests" scope="elements")
    d(name="button_test" type="panel" interactive="true" event="button_test"
        x=0.5 y=0.5 rx=0.0 ry=0.1 w=0.35 h=0.08
        color="0x0" colorb="0xffffff" glow="1" opacity="1" corner="0.3")
//- 2026-06-14, Composer: MVP ui_tests panel for click trace [uidb1]
//- 2026-06-14, Composer: single button_test with corner 0.3 [uidb5]
