//- 2026-06-14, Composer: rename pp abbreviation to pb [m4k8n1]
db#db_pb
    include db_assets.pug
    include db_lang.pug
    include db_ui.pug
    include db_toys.pug
    include db_bodies.pug
//- 2026-06-14, Composer: physics bodies db for toybox spawn [bdb1]
//- 2026-06-14, Composer: rename pp abbreviation to pb [m4k8n1]