// 2026-06-20, Composer: simple centered preload message [ldsim1]
// 2026-06-18, Composer: canvas fill pixelated upscale [cvspx1]

body.active #app {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: clip;
}

#preload {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background: #000000;
}

#preload.done {
  display: none;
}

#preload_msg {
  font-family: monospace;
  font-size: 1rem;
  color: #ffffff;
}

#app > canvas#canvas_pb {
  display: none;
}

// 2026-06-18, Composer: canvas fill pixelated upscale [cvspx1]
#app.active.loading > canvas#canvas_pb,
#app.active.ready > canvas#canvas_pb {
  display: flex;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

// 2026-06-14, Composer: rename pp abbreviation to pb [m4k8n1]
// 2026-06-20, Composer: simple centered preload message [ldsim1]
// 2026-06-18, Composer: canvas fill pixelated upscale [cvspx1]
